
# ────────────────────────────────────────────────────────────────────────────
# NativeLink Remote Execution
# ────────────────────────────────────────────────────────────────────────────

[build]
execution_platforms = toolchains//:lre

[buck2_re_client]
engine_address = grpc://@scheduler@:@schedulerPort@
cas_address = grpc://@cas@:@casPort@
action_cache_address = grpc://@cas@:@casPort@
tls = @tlsStr@
instance_name = @instanceName@

[buck2_re_client.platform_properties]
OSFamily = linux
container-image = nix-worker
